<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
</head>
<body>
    <div id='bookmarks'>
    <h1>Bookmarks</h1>
    <form action="/bookmarks" method="post">
        <input type="text" id="url" name="url" placeholder="www.example.com">
        <input type="submit" id="submit-bookmarks" name="submit-bookmarks" value="Submit">
    </form>
        <% bookmarks.map(bookmark=>{%>
        <p><%= bookmark.url %></p>
        <%})%>
    </div>
</body>
</html>